<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
        <add key="EmailEndsWith" value=".edu|.gov"/>
        <add key="AddressStartsWith" value="po box|p.o. box|p.o.box|p o box"/>
    </appSettings>
</configuration>
